@model IsmIoTPortal.Models.FilamentData

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FilamentData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsmDevice.DeviceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsmDevice.DeviceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.H1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.H1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.H2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.H2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.H3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.H3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.H4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.H4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.H5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.H5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.H6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.H6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.H7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.H7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.H8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.H8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.H9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.H9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.H10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.H10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlobImgName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlobImgName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlobColoredImgName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlobColoredImgName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FilamentDataId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
