@model IsmIoTPortal.Models.IsmDevice

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>IsmDevice</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IsmDeviceId)

        <div class="form-group">
            <label class="control-label col-md-2" for="DeviceId">Name</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="DeviceId" name="DeviceId" type="hidden" value="@Model.DeviceId" hidden />
                <h5>@Model.DeviceId</h5>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="DeviceId">Software Version</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="SoftwareId" name="SoftwareId" type="hidden" value="@Model.SoftwareId" />
                <h5>@Model.Software.Name</h5>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocationId, "LocationId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LocationId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HardwareId, "HardwareId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("HardwareId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.HardwareId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
