@model IsmIoTPortal.Models.Release

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Software</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Changelog)
        </dt>
        <dd style="white-space: pre-line">@Html.DisplayFor(model => model.Changelog)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Checksum)
        </dt>
        <dd style="font-family:monospace;">
            @Html.DisplayFor(model => model.Checksum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
